* { box-sizing: border-box; }
html, body, #root { height: 100%; }
body { margin: 0; font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, "Noto Sans", "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji"; }
img { display: block; max-width: 100%; height: auto; }
button { cursor: pointer; }